:root {
	box-sizing: border-box;
	--gap: 3px;
	/* --border: 1px solid black; */

	/* colors */
	--color1: rgba(255, 255, 255, 1);
	--color1a: rgb(198, 196, 195);
	--color2: rgb(198, 196, 195);
	--marg: 0px;
	--pad: 10px;
	--font1: ;
	--font2: ;
}

body {
	margin: var(--marg);
	padding: var(--pad);
}

a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
a:hover {
	color: inherit;
}
a:active {
	color: inherit;
}

nav {
	/* position: -webkit-sticky; /* Safari */
	/* position: sticky; */
	top: 0;
	margin: calc(
		var(--pad) * (-1)
	); /*stretches nav margin over body's padding, I choose this option, not sure if it's the best w3 practice*/
	background-color: var(--color1);
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

nav > div {
	width: calc(100% / 3);
	/* align-self: center; */
}
.menu-hamburger {
	text-align: right;
}

.logo {
	text-align: center;
}

footer {
	/* position: -webkit-sticky; /* Safari */
	/* position: sticky; */
	/* bottom: 0; */
	/* margin: 20px -10px -10px -10px;  pokud jina barva nez pozadi a chci celou sirku */
	margin: 10px 0 0 0;
	background-color: var(--color1);
	/* height: 50px; */
	padding: 10px 0 15px 0;
	border-top: 1px solid var(--color2);
	text-align: center;
}

.container-flex-100 {
	width: 100%;
	height: auto;
	border: var(--border);
	gap: var(--gap);
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
}

.about-me-flex {
	justify-content: space-evenly;
}

.pic {
	width: calc((100% - (2 * var(--gap))) / 3);
	height: auto;
	object-fit: cover;
	/* max-width: calc(100%/3); */
}

#portrait {
	align-self: center;
	/* width: calc((100% - var(--gap)) / 3); */
	--width: 40vw;
	width: var(--width);
	/* max-width: 350px; */
	height: var(--width);
	object-fit: cover;
	text-align: center;
	margin-bottom: 20px;
	/* padding: 0 30px 0 30px; */
	border-radius: 50%;
	border: 2px solid var(--color2);
}

div#about-me {
	/* width: calc((((100%  - var(--gap)) / 3) * 2) - 20px); */
	max-width: 250px;
	padding: 0 10px 0 10px;
	text-align: justify;
}

@media screen and (max-width: 220px) {
	.pic {
		width: 100%;
	}
}

@media screen and (max-width: 330px) {
	#portrait {
		/* width: 100%; */
	}
	div#about-me {
		width: 100%;
	}
}

@media screen and (min-width: 221px) and (max-width: 470px) {
	.pic {
		width: calc((100% - var(--gap)) / 2);
	}
}

@media screen and (min-width: 471px) and (max-width: 750px) {
	.pic {
		width: calc((100% - (2 * var(--gap))) / 3);
	}
}

@media screen and (min-width: 751px) {
	.pic {
		width: calc((100% - (3 * var(--gap))) / 4);
	}
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

.menu-pop-up {
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; */
	/* margin: 10px 10px 0 0; */
	/* width: 250px;
	height: 300px; */
	max-width: 350px;

	z-index: 2;
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: grey;
	display: none;
}

.close-button {
	/* align-self: flex-end; */
	text-align: right;
	padding: 10px;
}

h1,
h2 {
	text-align: center;
	padding: 0 30px 10px 30px;
	margin: 0 0 20px 0;
}

.chevron-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 2rem;
	color: var(--color1a);
	z-index: 1;
}

#kontakt {
	unicode-bidi: bidi-override;
	direction: rtl;
	/* text-align: left; */
}
