:root {
	box-sizing: border-box;
	--gap: 8px;
	/* --border: 1px solid black; */

	/* colors */
	--color1: rgb(255, 255, 255);
	/* --color1a: rgb(198, 196, 195); */
	--color1-op-05: rgba(232, 227, 224, 0.5);
	--color2: rgba(232, 227, 224, 1);
	--color3: rgba(30, 75, 115, 1);
	--colorGrad: linear-gradient(
		to right,
		rgba(161, 211, 255, 0.9),
		rgba(135, 185, 230, 1)
	);
	--colorGradHighl: rgba(97, 153, 202, 1);
	--marg: 0px;
	--pad: 10px;
	--border-rad: 5px;
	--font1: "Josefin Sans", sans-serif;
	--font2: "liberationSerif", serif;
	--font3: ;
	color: var(--color1);
}
@font-face {
	font-family: liberationSerif;
	src: url("./fonts/liberation_serif/LiberationSerif-Regular.ttf");
}
@font-face {
	font-family: liberationSerif;
	src: url("./fonts/liberation_serif/LiberationSerif-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: liberationSerif;
	src: url("./fonts/liberation_serif/LiberationSerif-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: liberationSerif;
	src: url("./fonts/liberation_serif/LiberationSerif-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

body {
	min-height: 100vh;
	box-sizing: border-box;
	margin: var(--marg);
	padding: var(--pad);
	background-image: linear-gradient(
			to bottom,
			rgba(161, 211, 255, 0.85),
			rgba(161, 211, 255, 0.9)
		),
		url("../img/background/potteryTable1.jpg");
	background-position: 50% 0%;
	background-size: 100%;

	/* linear-gradient(to top, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)); */
	font-family: var(--font1);
}

h1,
h2 {
	text-align: center;
	padding: 3vh 2vh;
	margin: 0 0 20px 0;
}

a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
a:hover {
	color: inherit;
}
a:active {
	color: inherit;
}

nav {
	box-sizing: border-box;
	/* position: -webkit-sticky; /* Safari */
	/* position: sticky; */
	top: 0;
	/* margin: calc(
		var(--pad) * (-1)
	);  */
	/*stretches nav margin over body's padding, I choose this option, not sure if it's the best w3 practice*/
	/* background-color: var(--color1); */
	margin: 0px 0px;
	height: 20vh;
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
	padding-right: 0;
	/* background: grey; */
	position: relative;
}

nav > div {
	/* width: calc(100% / 3); */
	/* align-self: center; */
}
.menu-hamburger {
	position: absolute;
	top: 0px;
	right: 0;
	text-align: right;
	/* align-self: flex-start */
}

.logo {
	text-align: center;
	height: 20vh;
	/* margin-right: auto;
	margin-left: auto; */
}

footer {
	/* position: -webkit-sticky; /* Safari */
	position: static;
	bottom: 0;
	left: 0;
	width: 100%;
	/* margin: 20px -10px -10px -10px;  pokud jina barva nez pozadi a chci celou sirku */
	margin: 10px 0 0 0;
	/* background-color: var(--color1); */
	/* height: 50px; */
	padding: 10px 0 15px 0;
	border-top: 1px solid var(--color1);
	text-align: center;
}

.container-flex-100 {
	box-sizing: border-box;
	padding: var(--pad);
	margin-bottom: 30px;
	width: 100%;
	height: auto;
	border: var(--border);
	gap: var(--gap);
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	background-color: var(--color1-op-05);

	border-radius: var(--border-rad);
}

.about-me-flex {
	justify-content: space-evenly;
	background: none;
	font-family: liberationSerif;
}

.pic {
	width: calc((100% - (2 * var(--gap))) / 3);
	height: auto;
	object-fit: cover;
	/* max-width: calc(100%/3); */
	border-radius: var(--border-rad);
}

#portrait {
	align-self: center;
	/* width: calc((100% - var(--gap)) / 3); */
	--width: 40vw;
	width: var(--width);
	max-width: 250px;
	max-height: 250px;
	height: var(--width);
	object-fit: cover;
	text-align: center;
	margin-bottom: 20px;
	/* padding: 0 30px 0 30px; */
	border-radius: 50%;
	border: 2px solid var(--color1);
}

div#about-me {
	/* width: calc((((100%  - var(--gap)) / 3) * 2) - 20px); */
	max-width: 250px;
	padding: 0 10px 0 10px;
	text-align: justify;
}

@media screen and (max-width: 220px) {
	.pic {
		width: 100%;
	}
}

@media screen and (max-width: 330px) {
	#portrait {
		/* width: 100%; */
	}
	div#about-me {
		width: 100%;
	}
}

@media screen and (min-width: 221px) and (max-width: 470px) {
	.pic {
		width: calc((100% - var(--gap)) / 2);
	}
}

@media screen and (min-width: 471px) and (max-width: 750px) {
	.pic {
		width: calc((100% - (2 * var(--gap))) / 3);
	}
}

@media screen and (min-width: 751px) {
	.pic {
		width: calc((100% - (3 * var(--gap))) / 4);
	}
}

button {
	border: none;
	background: none;
	cursor: pointer;
	color: var(--color1);
}

.menu-pop-up {
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; */
	/* margin: 10px 10px 0 0; */
	width: 40vw;
	/*height: 300px; */
	max-width: 350px;
	min-width: 150px;
	z-index: 2;
	position: fixed;
	top: 10px;
	right: 10px;
	background: var(--colorGrad);
	display: none;
	border-radius: var(--border-rad);
}

.menu-pop-up h1,
.menu-pop-up h2 {
	margin: 0;
}
/* .menu-pop-up:last-child {
	border-bottom-left-radius: var(--border-rad);
	border-bottom-right-radius: var(--border-rad);
} */

.highlighted {
	/* background-color: var(--colorGradHighl); */
	color: var(--colorGradHighl);
}

.close-button {
	/* align-self: flex-end; */
	text-align: right;
	padding: 10px;
}

.chevron-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 2rem;
	color: var(--color1);
	z-index: 1;
}

.kontakt {
	unicode-bidi: bidi-override;
	direction: rtl;
	/* text-align: left; */
	text-align: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
}

.pressed {
	opacity: 0.5;
}
