:root {
	--gap: 3px;
	/* --border: 1px solid black; */

	box-sizing: border-box;

	/* colors */
	--color1: rgba(198, 196, 195, 0.8);
}

body {
	margin: 0px;
	padding: 10px;
}

nav {
	/* position: -webkit-sticky; /* Safari */
	/* position: sticky; */
	top: 0;
	margin: -10px; /*I choose this option, not sure if it's the best w3 practice*/
	background-color: var(--color1);
	height: 50px;
	display: flex;
	justify-content: space-between;
}

nav > div {
	width: calc(100% / 3);
	align-self: center;
}
.menu-hamburger {
	text-align: right;
}

.logo {
	text-align: center;
}

footer {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0;
	margin: 0 -10px 0 -10px;
	background-color: var(--color1);
	height: 50px;
	padding: 0 10px 0 10px;
}

.container-flex-100 {
	width: 100%;
	height: auto;
	border: var(--border);
	gap: var(--gap);
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
}

.pic {
	width: calc((100%- (2 * var(--gap))) / 3);
	height: auto;
	object-fit: cover;
	/* max-width: calc(100%/3); */
}

@media screen and (max-width: 400px) {
	.pic {
		width: 100%;
	}
}

@media screen and (min-width: 401px) and (max-width: 670px) {
	.pic {
		width: calc((100% - var(--gap)) / 2);
	}
}

@media screen and (min-width: 671px) and (max-width: 900px) {
	.pic {
		width: calc((100% - (2 * var(--gap))) / 3);
	}
}

@media screen and (min-width: 901px) {
	.pic {
		width: calc((100% - (3 * var(--gap))) / 4);
	}
}

button {
	border: none;
	background: none;
	cursor: pointer;
}
